@charset "utf-8";

/* mini reset --------------------------------------- */
*{
    margin: 0;
    padding: 0;
    border:  none;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;

    background-color: lightgray;
}

main{
    width: 640px;
    padding: 20px;
    margin: 15px auto;

    background-color: white;
}

/* header -------------------------------------------- */

header{
    height: 300px;
    padding: 55px;

    background: orange url(../images/reuniao.jpg) no-repeat center center;
    background-size: cover;
}

header > *, section.contents p, section.photos > *{
    margin:  20px 0;
}

header h1{
    color: orangered;
    text-shadow: 1px 1px 3px darkgray;
}

header p{
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 3px darkgray;
}

a.btn{
    text-decoration: none;
    color: white;

    display: inline-block;
    padding: .6em .8em;
    border-radius: 6px;
    margin: 10px;
    box-shadow: 1px 1px 4px lightgoldenrodyellow;
    
    background-color: orangered;
}
/* contents ------------------------------------------ */

section.contents{
    text-align: left;
}
/* photos -------------------------------------------- */

section.photos{
    border-top: 2px solid gray;
}

section.photos h1{
    text-transform: uppercase;
}

section.photos img{
    padding: 2px;
    border: 1px solid gray;

    opacity: 0.7;
}

section.photos img.middle{
    margin: 0 66px;
}
/* footer -------------------------------------------- */

footer{
    color: white;

    background-color: orangered;
    padding: 50px;
}
/* --------------------------------------------------- */