
// measures & sizes : 

// sx ao invés de xs, para melhor organização/leitura durante a selecção das variáveis; Para evitar proximidade entre xs e xl, por exemplo, o que acaba por quebrar a disposição da hierarquia;
// sx3 significa sxxx, eventualmente xxxs;

$m-0: 0;
$m-sx4: 1px;
$m-sx3: 2px;
$m-sx2: 4px;
$m-sx: 8px;
$m-s: 10px;
$m-m: 20px;
$m-l: 30px;
$m-lx: 50px;
$m-lx2: 100px;
$m-lx3: 300px;
$m-lx4: 640px;

