$dark-color: #333;
$light-color: #fff;
$bg-color: #446655;

$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$default-font-size: 1rem;
$tiny-font-size: 0.2rem;

$inner-space: 1.2rem;
